SUPABASE_URL=https://ackvipqdhnquksdeblzw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFja3ZpcHFkaG5xdWtzZGVibHp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNTcwNjgsImV4cCI6MjA2MjYzMzA2OH0.jBm_vlsYcu6616qCgzImGxbz_CWCMBetcPG-VyyKRZs